{% load static %}
{% block styles %}
<link rel="stylesheet"  type="text/css" href="{% static 'sass/footer.css' %}" >
{% endblock styles %}
<hr>
<footer aria-label="footer">
<section class="col-sm-5 footerSection" >
	<h3>Sitios seguros cercanos</h3>
	<div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
		<div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3" style=" border: 7px solid white; border-radius: 1%">
		</div>
		<script>(function () {
        	var setting = {"height":420,"zoom":17,"queryString":"UNLP - Faculty of Informatics, Avenida 120, La Plata, Buenos Aires Province, Argentina","place_id":"ChIJUfnNj2rmopUR1eW7H_-lkZE","satellite":false,"centerCoord":[51.51801661752168,-0.13488617601141062],"cid":"0x9191a5ff1fbbe5d5","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"40977"};
        	var d = document;
        	var s = d.createElement('script');
        	s.src = 'https://1map.com/js/script-for-user.js?embed_id=40977';
        	s.async = true;
        	s.onload = function (e) {
          	window.OneMap.initMap(setting)
        	};
        	var to = d.getElementsByTagName('script')[0];
        	to.parentNode.insertBefore(s, to);
      	})();</script>
      </div>
</section>
<section class="col-sm-5 footerSection">
	<h3>Teléfonos importantes</h3>
	<ul class="list-group">
		<li class="list-group-item d-flex align-items-center">
			<span class="badge badge-primary badge-pill">911</span>
			Sistema de emergencias coordinadas
		</li>
		<li class="list-group-item d-flex align-items-center">
			<span class="badge badge-primary badge-pill">100</span>
			Bomberos
		</li>
		<li class="list-group-item d-flex align-items-center">
			<span class="badge badge-primary badge-pill">101</span>
			Policía
		</li>
		<li class="list-group-item d-flex align-items-center">
			<span class="badge badge-primary badge-pill">107</span>
			Emergencia médica
		</li>
		<li class="list-group-item d-flex align-items-center">
			<span class="badge badge-primary badge-pill">131</span>
			Centro de información de la policía federal argentina
		</li>
		<li class="list-group-item d-flex align-items-center">
			<span class="badge badge-primary badge-pill">103</span>
			Defensa Civil
		</li>
		<li class="list-group-item d-flex align-items-center">
			<span class="badge badge-primary badge-pill">105</span>
			Emergencia ambiental
		</li>
		<li class="list-group-item d-flex align-items-center">
			<span class="badge badge-primary badge-pill">130</span>
			ANSES
		</li>
		<li class="list-group-item d-flex align-items-center">
			<span class="badge badge-primary badge-pill">142</span>
			Personas menores extraviadas
		</li>
	</ul>
</section>
</footer>