<div>  
  <a href="#content" class="sr-only sr-only-focusable">Saltar a contenido principal.</a>
  <nav class="navbar navbar-expand-lg" aria-label="navigation">
    <a class="navbar-brand" href="{% url 'index' %}">DisDisaster</a>
    <form class="form-inline my-2 my-lg-0" aria-label="search">
      <label for="searchInput" style="display: none">Buscar</label>
      <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button id="search-button" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-pills mx-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Informacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Informacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Informacion</a>
        </li>
      </ul>
    </div>
    <a href="{% url 'ask4Help' %}" class="btn btn-danger btn-lg">Pedir ayuda</a>
  </nav>
  <nav id="breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for breadcrumb_item in breadcrumb_list %}
        {% if forloop.last %}
          <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb_item.name }}</li>
        {% else %}
          <li class="breadcrumb-item"><a href="{% url breadcrumb_item.link %}">{{ breadcrumb_item.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
</div>