<div>  
  <a href="#content" class="sr-only sr-only-focusable">Saltar a contenido principal.</a>
  <nav class="navbar navbar-expand-lg navbar-dark " aria-label="navigation">
    <a class="navbar-brand" href="{% url 'index' %}">DisDisaster</a>
    <button class="navbar-toggler ml-auto my-2" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0" aria-label="search">
        <div class='input-group'>
          <label for="searchInput" style="display: none">Buscar</label>
          <input id="searchInput" class="form-control" type="search" placeholder="Buscar" aria-label="Search">
          <span class="input-group-append">
            <button id="search-button" class="btn btn-outline-success" type="submit">Buscar</button>
          </span>
        </div>
      </form>
      <ul class="navbar-nav nav-pills mx-auto">
        <li class="nav-item active">
          <a class="nav-link pl-2 m-1" href="#">Informacion</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link pl-2 m-1" href="#">Informacion</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link pl-2 m-1" href="#">Informacion</a>
        </li>
      </ul>
    </div>
    <a id="help-button" href="{% url 'ask4Help' %}" class="btn btn-danger btn-lg">Pedir ayuda</a>
  </nav>
  <nav id="breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for breadcrumb_item in breadcrumb_list %}
        {% if forloop.last %}
          <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb_item.name }}</li>
        {% else %}
          <li class="breadcrumb-item"><a href="{% url breadcrumb_item.link %}">{{ breadcrumb_item.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ol>
  </nav>
</div>