{% extends "./genericFather.html" %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'disasterApp/css/cards.css' %}" crossorigin="anonymous">
{% endblock styles %}

{% block content %}
    <div id="cards" class="container bg-faded">
        <div class="card-deck">
        {% for disaster in disasterList %}
            {% include "./disasterCard.html" with disaster=disaster %}   
        {% endfor %}
        </div>            
    </div>            
{% endblock content %}