{% extends "./text.html" %}

{% block disasterInfo %}
<h1>Que hacer durante un terremoto</h1>
<br>
<h3>Antes del terremoto</h3>

<ul>
	<li>La mayoría de las fatalidades ocurren cuando los edificios colapsan y caen objetos pesados, por eso debes identificar lugares seguros en su hogar, escuela y lugar de trabajo.</li>
	<li>Haz una lista con información importante, como teléfonos de emergencia (Policía, Bomberos, etc.), datos sobre tus pólizas y cuentas de banco, información médica, nombres y teléfonos de tus familiares, vecinos, etc.</li>
	<li>Guarda documentos importantes (como certificados de nacimiento, tarjetas de seguro social, etc.) en una caja de seguridad.</li>
	<li><strong>Mochila de emergencia</strong>: haz una compra con artículos que incluyan un kit de primeros auxilios y medicamentos. &nbsp;También debes tener alimentos no perecibles, agua, un cambio de ropa, dinero en efectivo, algunas herramientas, velas y fósforos, un cuchillo, una sábana, una radio portátil, un mapa y un pito que pueda silbar en caso de necesitar que otros sepan donde se ubica tras un terremoto. &nbsp;Si puedes, trata de colocar este kit de emergencia en tu carro y en tu lugar de trabajo.</li>
</ul>

<h3>Durante un terremoto</h3>

<ul>
	<li>Aunque te cueste, lo más importante es mantener la calma. &nbsp;Los especialistas recomiendan quedarse en el interior de nuestra vivienda, escuela o trabajo, ubicarse bajo una mesa o escritorio y protegerse la cabeza. &nbsp;Asimismo, aléjate de las ventanas o muebles pesados.</li>
	<li>En lo posible hay que cortar la energía eléctrica y cerrar las llaves de paso de agua y gas.</li>
	<li>No uses&nbsp;elevadores. No ilumines&nbsp;con velas, fósforos o encendedores. &nbsp;Lo mejor es tener a la mano una linterna.</li>
	<li>Si estás en la calle, aléjarste de los edificios, postes y cables eléctricos</li>
	<li>Si vas conduciendo un auto, disminuye&nbsp;la velocidad y detente&nbsp;en un lugar seguro. Evita&nbsp;los puentes y los postes y permanece&nbsp;dentro del auto hasta que pare el sismo. &nbsp;Prende las luces de emergencia</li>
	<li>Recuerda que solo debes usar tu teléfono para enviar mensajes de texto o en todo caso haya una emergencia médica o incendio.</li>
	<li>Ayuda a evacuar a ancianos, niños, embarazadas o personas heridas. &nbsp;Y tampoco te olvides de tus mascotas.</li>
</ul>

{% endblock disasterInfo %}