{% extends "./genericFather.html" %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'disasterApp/css/text.css' %}" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'disasterApp/css/bootstrap-social.css' %}" crossorigin="anonymous">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
{% endblock styles %}

{% block content %}
    <div class="bg-faded row">
        <div id="text-content" class="col-10">
            {% block disasterInfo %}
            {% endblock disasterInfo %}
            <div id="social-buttons">
                <a class="btn btn-lg btn-social-icon btn-facebook" href="#">
                    <span class="fa fa-facebook"></span>
                </a>
                <a class="btn btn-lg btn-social-icon btn-twitter" href="#">
                    <span class="fa fa-twitter"></span>
                </a>
                <a class="btn btn-lg btn-social-icon btn-instagram" href="#">
                    <span class="fa fa-instagram"></span>
                </a>
            </div>        
        </div>        
        <div class="col-2">
            <nav id="side-menu" class="nav flex-column">
                <h2 id="side-menu-title">Relacionados</h2>
                <a class="side-menu-link" href="#">Link</a>
                <a class="side-menu-link" href="#">Link</a>
                <a class="side-menu-link" href="#">Link</a>
            </nav>
        </div>        
    </div>            
{% endblock content %}