{% extends "./genericFather.html" %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'disasterApp/css/text.css' %}" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'disasterApp/css/bootstrap-social.css' %}" crossorigin="anonymous">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
{% endblock styles %}

{% block content %}
    <section id="main-content" class="row">
        <article id="text-content" class="col-sm-12 col-lg-10 col-md-10">
            {% block disasterInfo %}
            {% endblock disasterInfo %}
            <div id="social-buttons">
                <a class="btn btn-lg btn-social-icon btn-facebook" title="Facebook" href="#">
                    <span class="fa fa-facebook"></span><p style="display: none">Facebook</p>
                </a>
                <a class="btn btn-lg btn-social-icon btn-twitter" title="Twitter" href="#">
                    <span class="fa fa-twitter"></span><p style="display: none">Twitter</p>
                </a>
                <a class="btn btn-lg btn-social-icon btn-instagram" title="Instagram" href="#">
                    <span class="fa fa-instagram"></span><p style="display: none">Instagram</p>
                </a>
            </div>        
        </article>
        <aside class="col-sm-12 col-lg-2 col-md-2 side-menu-container">
            <nav id="side-menu" class="nav flex-column">
                <h2 id="side-menu-title">Relacionados</h2>
                <a class="side-menu-link" href="#">Link</a>
                <a class="side-menu-link" href="#">Link</a>
                <a class="side-menu-link" href="#">Link</a>
            </nav>
        </aside>
    </section>
{% endblock content %}