h1{
	text-align: center;
	margin-top: 2%;
}

.helpForm{
	padding: 5%;
	font-size: 20px;
}

.helpForm h2 {
	text-align: center;
}

.row {
	display: block;
}

.form-text {
	margin-top: 0;
}

.helpForm button{
 	margin:0 auto;
 	margin-top: 2%;
}

#helpButton{
  width: 150px;
  height: 50px;
  font-size: 20px;
 
}

#exitButton{
	background-color: #1A612E;
	border-color: #1A612E;
}

#exitButton:hover {
	background-color: #184a26;
}