footer{
	text-align: center
}

hr{
	width: 80%;
}

.footerSection{
	display: inline-table;
	margin-top: 50px;
	margin-bottom:50px;
}

.footerSection h4{
	font-weight: bold;
}

.footerSection .badge {
	background-color: #1A612E;
}