body {
    background-color: #161616;
    color: white
}

.breadcrumb {
    background-color: #161616
}

.breadcrumb-item.active {
    color: #689775
}

.breadcrumb-item + .breadcrumb-item::before{
    color: #689775
}

a, a:link, a:visited, a:hover, a:active {
    color: white
}

a:active, a:focus, a:visited {
    outline: 1px solid;
    outline-color: #689775;
}

.navbar-brand {
    font-size: x-large;
    color: #689775;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 

}

.navbar-brand:hover {
    color: #689775;
}

#search-button {
    color: #689775;
    border-color: #689775
}

#search-button:hover {
    background-color: #689775;
    color: white
}

.nav-link {
    color: #ad8174
}

.nav-link:hover {
    color: white
}

.active a {
    background: #917164;
    color: black
}

hr {
    border-color: #ad8174
}

h4 {
    color: #689775
}