body {
    background-color: whitesmoke;
}

.breadcrumb {
    background-color: whitesmoke;
}

.breadcrumb-item.active {
    color: #161616
}

.breadcrumb-item + .breadcrumb-item::before{
    color: #161616
}

.btn, .btn:link, .btn:visited, .btn:hover, .btn:active {
    color: white;
}

a, a:link, a:visited {
    color: #689775
}

a:hover, a:active {
    color: #32BD5A;
}

a:active, a:focus, a:visited {
    outline: 1px solid;
    outline-color: #689775;
}

.navbar{
    background-color: #161616;
}
.navbar-brand {
    font-size: x-large;
    color: #32BD5A;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.navbar-brand:hover {
    color: #32BD5A;
}

#search-button {
    color: #32BD5A;
    border-color: #32BD5A
}

#search-button:hover {
    background-color: #32BD5A;
    color: white
}

.nav-link {
    color: #32BD5A
}

.nav-link:hover {
    color: white
}

.active a {
    background: #32BD5A;
    color: black
}

hr {
    border-color: #1A612E
}

h4 {
    color: #1A612E
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}