body {
    background-color: whitesmoke;
}

.navbar{
    background-color: #161616;
}
.navbar-brand {
    font-size: x-large;
    color: #32BD5A;
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.navbar-brand:hover {
    color: #32BD5A;
}

#search-button {
    color: #32BD5A;
    border-color: #32BD5A
}

#search-button:hover {
    background-color: #32BD5A;
    color: white
}

.nav-link {
    color: #32BD5A
}

.nav-link:hover {
    color: white
}

.active a {
    background: #32BD5A;
    color: black
}

hr {
    border-color: #1A612E
}

h4 {
    color: #1A612E
}