#side-menu h2{
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
}

@media only screen and (min-width: 576px) {
    #side-menu {
        text-align: left;
        border-left: 1px solid #1A612E;
        margin-right: auto
    }
}

@media only screen and (max-width: 576px) {
    #side-menu{
        text-align: left;
        border-top: 1px solid #1A612E;
        margin-right: auto;
    }

    #side-menu h2, #side-menu a{
        padding-left: 0px
    }

    .side-menu-container{
        padding-left: 3rem;
        padding-right: 2rem;
        padding-top: 3rem;
    }
}

.side-menu-link{
    display: block;
    padding: .5rem 1rem;
}

#text-content{
    padding-right: 2rem;
    padding-left: 3rem;
}

#text-content p{
    font-size: large;
}

#main-content {
    max-width: 100%;
}