{% extends "./text.html" %}

{% block disasterInfo %}
<h1>Que hacer durante una inundación</h1>
<br>
<h3>Durante un aviso de inundación</h3>
<ul class="bullet-list">
	<li>Reúna suministros de emergencia.</li>
	<li>Escuche su estación de radio o canal de televisión local para saber si hay novedades.</li>
	<li>Tenga a mano sus registros de vacunación (o sepa el año en que se aplicó su última vacuna contra el tétanos).
	<ul type="circle">
		<li>Guarde los registros de vacunación en un recipiente a prueba de agua.</li>
	</ul>
	</li>
	<li>Prepare una reserva de alimentos y agua de emergencia</a>. Almacene al menos 1 galón de agua por día para cada persona y cada mascota. Tenga una reserva para al menos 3 días.</li>
	<li>Lleve adentro las cosas que tenga afuera (muebles de jardín, parrillas, botes de basura) o amárrelas bien a un lugar fijo.</li>
	<li>Si parece necesario evacuar el lugar, corte el suministro de todos los servicios desde el interruptor o llave principal y cierre la válvula principal del gas.</li>
	<li>Váyase de las áreas propensas a inundación: zonas bajas, cañones, arroyos o torrenteras, etc. (<strong>Recuerde: </strong>Evite manejar por áreas inundadas y agua estancada).</li>
</ul>

<p>Si cuando regresa a su casa, encuentra que esta se inundó, use prácticas de limpieza seguras.</p>

<h3>Después de la inundación</h3>
<ul>
	<li><strong>Evite manejar por áreas inundadas y agua estancada. Tan solo seis pulgadas de agua pueden hacerle perder el control de su vehículo.</strong></li>
	<li>No beba el agua de la inundación ni la use para lavar platos, cepillarse los dientes, o lavar o preparar alimentos. Beba agua limpia y segura.</li>
	<li>Si tuvo que evacuar su casa, regrese solamente después de que las autoridades locales digan que es seguro hacerlo.</li>
	<li>Escuche las recomendaciones de las autoridades locales sobre el uso del agua, para saber si su agua es segura para beber y bañarse.
	<ul type='circle'>
		<li>Mientras esté en vigencia una recomendación sobre el uso del agua, use solamente agua embotellada, hervida o tratada para beber, cocinar, etc.</li>
	</ul>
	</li>
	<li>Si tiene dudas, ¡bótelos! Bote todo alimento o agua embotellada que este o pueda haber estado en contacto con el agua de la inundación.</li>
	<li>Prevenga las intoxicaciones por monóxido de carbono (CO). Use los generadores a por lo menos 20 pies de distancia de cualquier puerta, ventana o rejilla de ventilación. Si usa una máquina de lavado a presión, asegúrese de que el motor quede afuera y que esté a por lo menos 20 pies de las puertas, ventanas o rejillas de ventilación.</li>
</ul>
<p>El daño inicial que causan las inundaciones no es el único riesgo. Las aguas de inundación estancadas también pueden propagar enfermedades infecciosas<, contener sustancias químicas peligrosas y causar lesiones.</p>
<p>Si cuando regresa a su casa, encuentra que esta se inundó, use prácticas de limpieza seguras. Retire y deseche los paneles de yeso y el material de aislamiento que se hayan contaminado con el agua de la inundación o con aguas residuales. Bote todos los artículos que no puedan lavarse ni limpiarse con una solución de cloro: los colchones, las almohadas, las alfombras, el almohadillado de las alfombras y los juguetes de peluche. Los propietarios de vivienda quizás quieran guardar temporalmente algunos artículos afuera de la casa hasta que puedan presentar las reclamaciones de seguro.</p>
<p>Limpie las paredes, los pisos de superficie dura y otras superficies de la casa con agua y jabón, y desinféctelos con una solución preparada con una taza de cloro por cada cinco galones de agua.</p>
{% endblock disasterInfo %}
